<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e25_201><div class=e25_198><div class=e25_174><div class=ei25_174_6_355><div  class="ei25_174_6_326"></div><span  class="ei25_174_6_352">Item_1</span><span  class="ei25_174_6_412">x1</span><div  class="ei25_174_6_353"></div><span  class="ei25_174_6_354">不要美乃滋。</span></div><div  class="ei25_174_25_101"></div></div></div><div class=e25_200><div class=e25_175><div class=ei25_175_6_355><div  class="ei25_175_6_326"></div><span  class="ei25_175_6_352">Item_1</span><span  class="ei25_175_6_412">x1</span><div  class="ei25_175_6_353"></div><span  class="ei25_175_6_354">不要美乃滋。</span></div></div></div><div class=e25_199><div class=e25_176><div class=ei25_176_6_355><div  class="ei25_176_6_326"></div><span  class="ei25_176_6_352">Item_1</span><span  class="ei25_176_6_412">x1</span><div  class="ei25_176_6_353"></div><span  class="ei25_176_6_354">不要美乃滋。</span></div><div  class="ei25_176_25_101"></div></div></div></div>
          </body>
          </html>