.25_201 { 
	border:1px solid rgba(123.0000002682209, 97.00000181794167, 255, 1);
}.e25_201 { 
	width:238px;
	height:479px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	position:absolute;
}.e25_198 { 
	width:198px;
	height:119px;
	position:absolute;
	left:680px;
	top:27px;
}.e25_174 { 
	width:198px;
	height:119px;
	position:absolute;
	left:0px;
	top:0px;
}.ei25_174_6_355 { 
	width:198px;
	height:119px;
	position:absolute;
	left:0px;
	top:0px;
}.ei25_174_6_326 { 
	background-color:rgba(194.1569808125496, 229.49999392032623, 166.38749331235886, 1);
	width:198px;
	height:119px;
	position:absolute;
	left:0px;
	top:0px;
}.i25_174_6_326 { 
	border:1px solid rgba(0, 0, 0, 1);
}.ei25_174_6_352 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:29px;
	position:absolute;
	left:4px;
	top:3px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei25_174_6_412 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:29px;
	position:absolute;
	left:127px;
	top:3px;
	font-family:Inter;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}.ei25_174_6_353 { 
	background-color:rgba(255, 255, 255, 1);
	width:188px;
	height:80px;
	position:absolute;
	left:4px;
	top:35px;
}.ei25_174_6_354 { 
	color:rgba(0, 0, 0, 1);
	width:188px;
	height:80px;
	position:absolute;
	left:4px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.ei25_174_25_101 { 
	width:24px;
	height:24px;
	position:absolute;
	left:168px;
	top:6px;
	background-image:url(images/return_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_200 { 
	width:198px;
	height:119px;
	position:absolute;
	left:680px;
	top:347px;
}.e25_175 { 
	width:198px;
	height:119px;
	position:absolute;
	left:0px;
	top:0px;
}.ei25_175_6_355 { 
	width:198px;
	height:119px;
	position:absolute;
	left:0px;
	top:0px;
}.ei25_175_6_326 { 
	background-color:rgba(247.56250709295273, 169.02330547571182, 164.01015847921371, 1);
	width:198px;
	height:119px;
	position:absolute;
	left:0px;
	top:0px;
}.i25_175_6_326 { 
	border:1px solid rgba(0, 0, 0, 1);
}.ei25_175_6_352 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:29px;
	position:absolute;
	left:4px;
	top:3px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei25_175_6_412 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:29px;
	position:absolute;
	left:127px;
	top:3px;
	font-family:Inter;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}.ei25_175_6_353 { 
	background-color:rgba(255, 255, 255, 1);
	width:188px;
	height:80px;
	position:absolute;
	left:4px;
	top:35px;
}.ei25_175_6_354 { 
	color:rgba(0, 0, 0, 1);
	width:188px;
	height:80px;
	position:absolute;
	left:4px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e25_199 { 
	width:198px;
	height:119px;
	position:absolute;
	left:680px;
	top:187px;
}.e25_176 { 
	width:198px;
	height:119px;
	position:absolute;
	left:0px;
	top:0px;
}.ei25_176_6_355 { 
	width:198px;
	height:119px;
	position:absolute;
	left:0px;
	top:0px;
}.ei25_176_6_326 { 
	background-color:rgba(255, 244.69375222921371, 151.9374918937683, 1);
	width:198px;
	height:119px;
	position:absolute;
	left:0px;
	top:0px;
}.i25_176_6_326 { 
	border:1px solid rgba(0, 0, 0, 1);
}.ei25_176_6_352 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:29px;
	position:absolute;
	left:4px;
	top:3px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei25_176_6_412 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:29px;
	position:absolute;
	left:127px;
	top:3px;
	font-family:Inter;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}.ei25_176_6_353 { 
	background-color:rgba(255, 255, 255, 1);
	width:188px;
	height:80px;
	position:absolute;
	left:4px;
	top:35px;
}.ei25_176_6_354 { 
	color:rgba(0, 0, 0, 1);
	width:188px;
	height:80px;
	position:absolute;
	left:4px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.ei25_176_25_101 { 
	width:24px;
	height:24px;
	position:absolute;
	left:168px;
	top:6px;
	background-image:url(images/return_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}