.6_206 { 
	overflow:hidden;
}.e6_206 { 
	background-color:rgba(255, 255, 255, 1);
	width:413px;
	height:235px;
	position:absolute;
}.e47_1232 { 
	background-color:rgba(255, 255, 255, 1);
	width:413px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_207 { 
	background-color:rgba(255, 255, 255, 1);
	width:413px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_208 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:19px;
	position:absolute;
	left:177px;
	top:77px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e6_209 { 
	background-color:rgba(255, 255, 255, 1);
	width:206px;
	height:14px;
	position:absolute;
	left:129px;
	top:106px;
}.6_209 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e6_210 { 
	background-color:rgba(255, 255, 255, 1);
	width:51px;
	height:14px;
	position:absolute;
	left:77px;
	top:106px;
}.6_210 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e6_211 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:14px;
	position:absolute;
	left:89px;
	top:106px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e6_212 { 
	background-color:rgba(255, 255, 255, 1);
	width:206px;
	height:14px;
	position:absolute;
	left:129px;
	top:120px;
}.6_212 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e6_213 { 
	background-color:rgba(255, 255, 255, 1);
	width:51px;
	height:14px;
	position:absolute;
	left:77px;
	top:120px;
}.6_213 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e6_214 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:14px;
	position:absolute;
	left:89px;
	top:120px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e33_119 { 
	width:37px;
	height:14px;
	position:absolute;
	left:188px;
	top:144px;
}.e6_215 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:37px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_217 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:10px;
	position:absolute;
	left:197px;
	top:145px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}