.3_9 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:986px;
	height:458px;
	position:absolute;
}
.e47_1150 { 
	background-color:rgba(255, 255, 255, 1);
	width:986px;
	height:458px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_10 { 
	color:rgba(0, 0, 0, 1);
	width:164px;
	height:47px;
	position:absolute;
	left:141px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e5_47 { 
	transform: rotate(89.99999749552173deg);
	width:458px;
	height:0px;
	position:absolute;
	left:114px;
	top:0px;
}
.5_47 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e6_93 { 
	width:66px;
	height:23px;
	position:absolute;
	left:882px;
	top:35px;
}
.e5_49 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:66px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_78 { 
	color:rgba(0, 0, 0, 1);
	width:32px;
	height:19px;
	position:absolute;
	left:17px;
	top:3px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_56 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:823px;
	height:20px;
	position:absolute;
	left:137px;
	top:89px;
}
.6_56 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e5_48 { 
	background-color:rgba(194.1569808125496, 229.49999392032623, 166.38749331235886, 1);
	width:823px;
	height:82px;
	position:absolute;
	left:137px;
	top:109px;
}
.5_48 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e6_51 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:137px;
	top:109px;
}
.e6_53 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:211px;
	top:109px;
}
.e6_52 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:19px;
	position:absolute;
	left:147px;
	top:120px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_54 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:19px;
	position:absolute;
	left:241px;
	top:120px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_60 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:669px;
	top:109px;
}
.e6_61 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:19px;
	position:absolute;
	left:699px;
	top:120px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_68 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:817px;
	top:109px;
}
.e6_69 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:19px;
	position:absolute;
	left:843px;
	top:120px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_72 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:891px;
	top:109px;
}
.e6_73 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:19px;
	position:absolute;
	left:921px;
	top:120px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_74 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:891px;
	top:109px;
}
.e6_76 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:891px;
	top:150px;
}
.e6_70 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:817px;
	top:150px;
}
.e6_71 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:19px;
	position:absolute;
	left:843px;
	top:161px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_66 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:82px;
	position:absolute;
	left:743px;
	top:109px;
}
.e6_67 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:19px;
	position:absolute;
	left:760px;
	top:142px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_64 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:669px;
	top:150px;
}
.e6_65 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:19px;
	position:absolute;
	left:699px;
	top:161px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_58 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:379px;
	height:41px;
	position:absolute;
	left:285px;
	top:109px;
}
.e6_59 { 
	color:rgba(0, 0, 0, 1);
	width:358px;
	height:19px;
	position:absolute;
	left:296px;
	top:120px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_62 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:379px;
	height:41px;
	position:absolute;
	left:285px;
	top:150px;
}
.e6_63 { 
	color:rgba(0, 0, 0, 1);
	width:358px;
	height:19px;
	position:absolute;
	left:296px;
	top:161px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_79 { 
	width:32px;
	height:32px;
	position:absolute;
	left:910px;
	top:113px;
	background-image:url(images/note_120060_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_80 { 
	width:32px;
	height:32px;
	position:absolute;
	left:910px;
	top:157px;
	background-image:url(images/note_120060_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_150 { 
	background-color:rgba(255, 244.69375222921371, 151.9374918937683, 1);
	width:823px;
	height:41px;
	position:absolute;
	left:137px;
	top:193px;
}
.6_150 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e6_151 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:137px;
	top:193px;
}
.e6_152 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:211px;
	top:193px;
}
.e6_153 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:19px;
	position:absolute;
	left:147px;
	top:204px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_154 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:19px;
	position:absolute;
	left:241px;
	top:204px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_155 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:669px;
	top:193px;
}
.e6_156 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:19px;
	position:absolute;
	left:699px;
	top:204px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_157 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:817px;
	top:193px;
}
.e6_158 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:19px;
	position:absolute;
	left:843px;
	top:204px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_159 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:891px;
	top:193px;
}
.e6_160 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:19px;
	position:absolute;
	left:921px;
	top:204px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_161 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:891px;
	top:193px;
}
.e6_165 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:743px;
	top:193px;
}
.e6_166 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:19px;
	position:absolute;
	left:760px;
	top:204px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_169 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:379px;
	height:41px;
	position:absolute;
	left:285px;
	top:193px;
}
.e6_170 { 
	color:rgba(0, 0, 0, 1);
	width:358px;
	height:19px;
	position:absolute;
	left:296px;
	top:204px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_173 { 
	width:32px;
	height:32px;
	position:absolute;
	left:910px;
	top:197px;
	background-image:url(images/note_120060_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_175 { 
	background-color:rgba(247.56250709295273, 169.02330547571182, 164.01015847921371, 1);
	width:823px;
	height:41px;
	position:absolute;
	left:137px;
	top:236px;
}
.6_175 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e6_176 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:137px;
	top:236px;
}
.e6_177 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:211px;
	top:236px;
}
.e6_178 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:19px;
	position:absolute;
	left:147px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_179 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:19px;
	position:absolute;
	left:241px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_180 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:669px;
	top:236px;
}
.e6_181 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:19px;
	position:absolute;
	left:699px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_182 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:817px;
	top:236px;
}
.e6_183 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:19px;
	position:absolute;
	left:843px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_184 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:891px;
	top:236px;
}
.e6_185 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:19px;
	position:absolute;
	left:921px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_186 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:891px;
	top:236px;
}
.e6_187 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:69px;
	height:41px;
	position:absolute;
	left:743px;
	top:236px;
}
.e6_188 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:19px;
	position:absolute;
	left:760px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_189 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:379px;
	height:41px;
	position:absolute;
	left:285px;
	top:236px;
}
.e6_190 { 
	color:rgba(0, 0, 0, 1);
	width:358px;
	height:19px;
	position:absolute;
	left:296px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_191 { 
	width:32px;
	height:32px;
	position:absolute;
	left:910px;
	top:240px;
	background-image:url(images/note_120060_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_81 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:15px;
	position:absolute;
	left:146px;
	top:92px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e6_82 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:15px;
	position:absolute;
	left:233px;
	top:92px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e6_85 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:15px;
	position:absolute;
	left:754px;
	top:92px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e6_86 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:15px;
	position:absolute;
	left:840px;
	top:92px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e6_87 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:15px;
	position:absolute;
	left:914px;
	top:92px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e6_84 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:15px;
	position:absolute;
	left:691px;
	top:92px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e6_83 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:15px;
	position:absolute;
	left:451px;
	top:92px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e6_95 { 
	width:114px;
	height:70px;
	position:absolute;
	left:0px;
	top:70px;
}
.e6_89 { 
	background-color:rgba(219.93750303983688, 219.93750303983688, 219.93750303983688, 1);
	width:114px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_91 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:21px;
	top:19px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e6_94 { 
	width:114px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_88 { 
	background-color:rgba(162.62890219688416, 203.65335524082184, 251.81248784065247, 1);
	width:114px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_90 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:21px;
	top:21px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
