.6_221 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}.e6_221 { 
	background-color:rgba(255, 255, 255, 1);
	width:986px;
	height:458px;
	position:absolute;
}.e47_1231 { 
	background-color:rgba(255, 255, 255, 1);
	width:986px;
	height:458px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_222 { 
	color:rgba(0, 0, 0, 1);
	width:164px;
	height:47px;
	position:absolute;
	left:141px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e6_223 { 
	transform: rotate(89.99999749552173deg);
	width:458px;
	height:0px;
	position:absolute;
	left:114px;
	top:0px;
}.6_223 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e6_224 { 
	width:66px;
	height:23px;
	position:absolute;
	left:882px;
	top:35px;
}.e6_225 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:66px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_226 { 
	color:rgba(0, 0, 0, 1);
	width:32px;
	height:19px;
	position:absolute;
	left:17px;
	top:3px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e6_297 { 
	width:114px;
	height:70px;
	position:absolute;
	left:0px;
	top:70px;
}.e6_298 { 
	background-color:rgba(163.00000548362732, 204.00000303983688, 252.00000017881393, 1);
	width:114px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_299 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:21px;
	top:19px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e6_300 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:198px;
	height:119px;
	position:absolute;
	left:141px;
	top:99px;
}.e6_301 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:198px;
	height:119px;
	position:absolute;
	left:348px;
	top:99px;
}.e6_302 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:198px;
	height:119px;
	position:absolute;
	left:555px;
	top:99px;
}.e6_303 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:198px;
	height:119px;
	position:absolute;
	left:762px;
	top:99px;
}.e6_304 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:198px;
	height:119px;
	position:absolute;
	left:141px;
	top:239px;
}.e6_305 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:198px;
	height:119px;
	position:absolute;
	left:348px;
	top:239px;
}.e6_306 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:198px;
	height:119px;
	position:absolute;
	left:555px;
	top:239px;
}.e6_307 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:198px;
	height:119px;
	position:absolute;
	left:762px;
	top:239px;
}.e6_313 { 
	width:114px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_316 { 
	width:114px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_314 { 
	background-color:rgba(219.93750303983688, 219.93750303983688, 219.93750303983688, 1);
	width:114px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_315 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:21px;
	top:21px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}